/*box sizing settings*/
* {
  box-sizing:border-box;
}

/*color references*/
:root{
  --black:black;
  --bisque:bisque;
  --dblue:#152238;
  --aqua:aqua;
}

/*box and text settings for body*/
body{
  margin:0;
  padding:0;
  color:var(--black);
  background-color:var(--bisque);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height:1.5;
}

header{
  padding: 20px 5% 20px 0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center; 
  background-color:var(--dblue);
  color:var(--aqua); 
}

h1,h2,h3,h4,h5,h6{
  font-size:250%;
  color:var(--black);
}

header h1{
  box-sizing:border-box;
  padding:0;
  width:600px;
  background-color:var(--aqua);
  text-align:right;
  font-size:80px;
  color:var(--dblue);
}

header nav a{
  text-decoration:none;
  color:palevioletred;
  border-bottom:2px solid var(--aqua);
}

header nav #nav-about:hover {
  background-color:var(--aqua);
}

header nav #nav-work:hover{
  background-color:var(--aqua);
}

header nav #nav-contact:hover{
  background-color:var(--aqua);
}

header nav #resume:hover{
  background-color:var(--aqua);
}

.subtitle-image{
  position:relative;
}

.subtitle img{
  box-sizing:border-box;
  height:300px;
  width:100%;
}

.subtitle .bottom-right-text{
  position:absolute;
  background-color:var(--aqua);
  bottom:40px;
  right:200px;
  color:var(--dblue);
}

main .info{
  width:85%;
  margin-left:auto;
  margin-right:auto;
}

.info-sections {
  margin:10px 0;
  padding:10px 0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
}

.info-sections > h3 {
  flex:0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--dblue);
  font-size: 70px;
  line-height: 1.2;
  color:var(--dblue) 
}

.info-sections div{
  flex:0 0 78%;
}

.info-sections p {
  margin-bottom:10px;
}

.info-sections #about-me {
  padding-bottom:30px;
}


.info-sections .images{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:flex-end;
  justify-content:center;
}

#work > .images{
  
}

.info #work #first-image{
  
}

#work .img-rest{

}

#contact-me > div {
  flex: 0 0 67.75%;
}

#work #first-image:hover first-img{

}

#work #img-rest:hover img-rest{

}

.info-sections address{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  height:100%;
}

#contact-me a{
  text-decoration:none;
  color:var(--dblue);
  border-bottom: 2px solid var(--dblue); 
}

#contact-me a:hover {
  background-color:white;
}



